version: '3.8'

services:
  app:
    build: .
    ports:
      - "6730:6730"
    environment:
      - PORT=3000
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
    env_file:
      - .env
    restart: always
